*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  min-width: 500px;
  max-width: 1100px;
  margin: auto;
  /* background-color: bisque; */
}

.d-inline-block{
  display: inline-block;
}

.f-left{
  float: left;
}
.f-right{
  float: right;
}

.p-right-20{
  padding-right: 20px;
}

.line-height-90{
  line-height: 90px;
}

.line-height-30{
  line-height: 30px;
}

.circle{
  height: 40px;
  width: 40px;
  padding: 10px;
  color: white;
  text-align: center;
  border-radius: 50%;
  background-color: darkgrey;
}

header{
  position: absolute;
  top: 0;
  height: 90px;
  width: 100%;
  padding: 0 20px;
  border-bottom: 1px solid grey;
  /* background-color: chocolate; */
}

/* header div{
  background-color: darkgreen;
  line-height: 90px;
} */

header h2{
  margin: 0;
}

header i{
  font-size: 25px;
  color: darkgrey;
}

main{
  margin-top: 90px;
  padding-top: 40px;
  padding-bottom: 10px;
  /* background-color: cadetblue; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main.container{
  padding: 50px 20px 10px;
  color: red;
}

footer{
  height: 50px;
  padding: 10px;
  background-color: lightgray;
}

footer ul{
  list-style: none;
}

footer ul li{
  display: inline-block;
}

h2{
  margin-top: 50px;
  margin-bottom: 20px;
}

h3{
  color: darkgray;
}

p{
  font-size: 18px;
  padding: 20px 0 10px;
  line-height: 25px;
}

a{
  text-decoration: none;
}

ol{
  padding-left: 30px;
}

ol li{
  line-height: 25px;
  padding-left: 20px;
  margin: 20px 0 20px;
}